@inherits LayoutComponentBase

<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@

    <main data-theme="dark">
        @* <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>ol
        </div> *@

        <article class="content m-auto">
            @Body
        </article>
    </main>
</div>

@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();

    }
}