@using Models;
@using System.Text;
@using ChainDoku.Services;

<button class="table-cell @GetClasses()" @onclick='() => Click(Cell.Row, Cell.Column)'>
    @if (Cell.HasValue || Cell.IsEmpty)
    {
        @(Cell.HasValue ? Cell.Value : string.Empty)
    }
    else
    {
        <MiniGrid Values="Cell.Candidates" ActiveValue="State.ActiveValue" />
    }
</button>
@code {
    [Parameter]
    public GridState State { get; set; }
    
    [Parameter]
    public Cell Cell { get; set; }

    [Parameter]
    public Action<int, int> Click { get; set; }

    public string GetClasses()
    {
        var sb = new StringBuilder();
        if (Cell.IsStatic)
        {
            sb.Append("static-value");
        }
        else
        {
            sb.Append("non-static-value");
        }

        if (!State.ActiveRow.HasValue || !State.ActiveColumn.HasValue)
        {
            return sb.ToString();
        }

        if (Cell.Row == State.ActiveRow && Cell.Column == State.ActiveColumn)
        {
            sb.Append(" selected-cell");
        }
        else if (Cell.Row == State.ActiveRow || Cell.Column == State.ActiveColumn || State.Block == Cell.Block)
        {
            sb.Append(" selected");
        }
        else if (State.HasValue && Cell.Value == State.ActiveValue)
        {
            sb.Append(" selected-value");
        }

        return sb.ToString();
    }

    private int GetBlock(int row, int column) => row / 3 * 3 + column / 3;

}
