:root {
    --main-bg-color: white;
    --grid-bg-color: white;
    --border-color: #becbdc;
    --font-color: #344861;
    --non-static-color: #0072e3;
    --selected-bg-color: #e2ebf3;
    --selected-val-bg-color: #c3d7ea;
    --selected-cell-bg-color: #bbdefb;
}
[data-theme="dark"] {
    color: #6d7080;
    --font-color: #6d7080;
    --main-bg-color: #181715;
    --grid-bg-color: #292a30;
    --border-color: #6d7080;
    --non-static-color: #7ab2ff;
    --selected-bg-color: #23344a;
    --selected-val-bg-color: #34455b;
    --selected-cell-bg-color: #364b73;
}

