.title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 95vw;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.top-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
    width: 95vw;
    padding-bottom: 10px;
}
    .top-actions button {
        background-color: unset;
        color: var(--font-color);
        border-color: var(--border-color: black);
    }

.left-actions {
    display: flex;
    justify-content: flex-start;
}

.right-actions {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.table-grid {
    display: flex;
    flex-direction: column;
    background-color: var(--grid-bg-color);
    width: 95vw;
    margin: auto;
}

.table-row {
    width: 100%;
    display: flex;
}

    .table-row:first-child {
        border-top: 2px solid var(--font-color);
    }

    .table-row:nth-child(3n+3) {
        border-bottom: 2px solid var(--font-color);
    }

.table-cell {
    border: 1px solid var(--border-color);
    width: 10.5vw;
    height: 10.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    cursor: pointer;
    flex: 1 1 0;
    margin: 0;
    padding: 0;
    background-color:inherit;
}

    .table-cell:nth-child(3n+3) {
        border-right: 2px solid var(--font-color);
    }

    .table-cell:first-child {
        border-left: 2px solid var(--font-color);
    }

.sub-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--font-color);
    font-size: 3vw;
    line-height: 3vw;
}

.mini-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex: 1 1 0;
}

.mini-cell {
    display: flex;
    flex: 1 1 0;
    align-content: center;
    justify-content: center;
}

.static-value {
    color: var(--font-color);
}

.non-static-value {
    color: var(--non-static-color);
}

.bold {
    font-weight: bold;
    text-decoration: underline;
}

.selected {
    background-color: var(--selected-bg-color);
}

.selected-value {
    background-color: var(--selected-val-bg-color) !important;
}

.selected-cell {
    background-color: var(--selected-cell-bg-color) !important;
}

.notes {
    color: var(--non-static-color) !important;
}

.actions {
    display: flex;
    justify-content: space-around;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin-left: 15px;
    margin-right: 15px;
}

    .actions > button:active {
        background-color: var(--selected-bg-color);
        border-radius: 10px;
    }
    .actions > * {
        color: var(--font-color);
    }

.button-actions > button {
    display: flex;
    flex: 0 1 10vw;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 10vw;
    cursor: pointer;
    border: unset;
    background-color: inherit;
    margin-top: 10px;
}

    .button-actions > button > i {
        font-size: 9vw;
    }

    .button-actions > button > span {
        font-size: 3vw;
    }

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.digit-actions {
    gap: 1vw;
}

    .digit-actions > button {
        font-size: 10vw;
        color: var(--font-color);
        cursor: pointer;
        border: unset;
        background-color: inherit;
        display: flex;
        flex: 1 1 0;
        justify-content: center;
    }
